Ticket_Classifier.json
{
  "name": "Ticket Classifier",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incoming-ticket",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -340,
        -160
      ],
      "id": "193f2150-3d6f-4a0f-b063-b4cf40326319",
      "name": "Webhook",
      "webhookId": "e7fee026-628b-484d-af9c-ee2353c249c9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1395e529-21a4-4464-92ad-2d8aef3daa2d",
              "leftValue": "={{$json.urgency}}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        -80
      ],
      "id": "388e6c63-2160-4a52-9976-a7844919d75a",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "thrivepath0506@gmail.com",
        "subject": "⚠️ Urgent Ticket",
        "message": "=<p>{{ $json.message.content }}</p>\n\n<p>Best regards,<br>\nSupport Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        -100
      ],
      "id": "a37f72a8-8cef-4972-8a25-442a79126709",
      "name": "Gmail",
      "webhookId": "a27f96ea-9bc0-4ba9-ad40-1fb412cd186a",
      "credentials": {
        "gmailOAuth2": {
          "id": "0KhTwhZSoGP7gi2T",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a smart ticket classifier. Reply only in JSON format: {\"category\":\"billing|technical|feedback\", \"urgency\":\"high|low\"}",
              "role": "system"
            },
            {
              "content": "={{$json.body.message}}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -120,
        -100
      ],
      "id": "65ce3bcc-6f7c-4a8a-9e78-e4a0d5d41527",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "UP69mwU6XwRvZ7FG",
          "name": "My OpenAI Credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98888e13-4ad6-403f-90b7-7f741b872816",
              "name": "category",
              "value": "={{ JSON.parse($json.message.content).category }}",
              "type": "string"
            },
            {
              "id": "128fe0b2-6c7a-4d35-af75-e654e243acea",
              "name": "urgency",
              "value": "={{ JSON.parse($json.message.content).urgency }}",
              "type": "string"
            },
            {
              "id": "6a51771c-1628-4bd4-92a4-0d6ccdb9b4e6",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        -180
      ],
      "id": "26b466dc-65fb-4487-9f14-2f1ad9546279",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a polite support assistant. Write a helpful reply to this urgent user message.",
              "role": "system"
            },
            {
              "content": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        620,
        -160
      ],
      "id": "49edaca5-efa3-4d22-9b38-235a5b2c98fc",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "UP69mwU6XwRvZ7FG",
          "name": "My OpenAI Credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f4a1f7cd-f724-45f6-a9ae-07af25253b88",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9feedd08e7044ab2bb656aa55bea80919317b52f9ffe4b91616a0c41541c5fb4"
  },
  "id": "v02IIpFWNCepWq6Q",
  "tags": []
}