ticket-classifier-workflow.json
{
  "name": "Ticket Classifier",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incoming-ticket",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ],
      "id": "193f2150-3d6f-4a0f-b063-b4cf40326319",
      "name": "Webhook",
      "webhookId": "e7fee026-628b-484d-af9c-ee2353c249c9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1395e529-21a4-4464-92ad-2d8aef3daa2d",
              "leftValue": "={{$json.urgency}}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        340,
        0
      ],
      "id": "388e6c63-2160-4a52-9976-a7844919d75a",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "tanmaiyeeallani08@gmail.com",
        "subject": "=⚠️ Urgent Ticket: {{$json.body.message}}",
        "message": "=<p><b>New Urgent Ticket Received</b></p> <p><b>Message:</b> {{$json.body.message}}</p> <p><b>Category:</b> {{$json.category}}</p> <p><b>Urgency:</b> {{$json.urgency}}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        -80
      ],
      "id": "a37f72a8-8cef-4972-8a25-442a79126709",
      "name": "Gmail",
      "webhookId": "a27f96ea-9bc0-4ba9-ad40-1fb412cd186a",
      "credentials": {
        "gmailOAuth2": {
          "id": "0KhTwhZSoGP7gi2T",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://1fb3-2405-201-c005-a0c9-d043-c8e9-6fba-37f8.ngrok-free.app/analyze",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{$json.body.message}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        0
      ],
      "id": "0f74cf28-5e8a-4768-936d-6c44379dc3d1",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a7eeae00-81f7-44b2-9391-4d48dc82a6d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9feedd08e7044ab2bb656aa55bea80919317b52f9ffe4b91616a0c41541c5fb4"
  },
  "id": "v02IIpFWNCepWq6Q",
  "tags": []
}